@model IEnumerable<RaceMaker.Models.RaceSignUp>

@{
    ViewBag.Title = "DisplayEntries";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Display Entries</h2>
<h3></h3>

<div>
    <dl class="dl-horizontal">
    @foreach (var item in Model)
    {
    <dt>
        @Html.DisplayNameFor(model => model.FirstName)
    </dt>
        <dd>
            @Html.DisplayNameFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TshirtSize)
        </dt>

    }
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit") |
    @Html.ActionLink("Back to List", "Index")
</p>
