@model IEnumerable<RaceMaker.Models.CreateRace>

@{
    ViewBag.Title = "My Upcoming Races";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div align="center"><h2>My Upcoming Races</h2></div>

<div>
    <hr />
    <dl class="dl-horizontal">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RaceName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RaceLocation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RaceDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RaceDistance)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RaceCost)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.RaceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RaceLocation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RaceDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.RaceDistance) miles
                    </td>
                    <td>
                        $@Html.DisplayFor(modelItem => item.RaceCost)
                    </td>
                    <td>

                        @*@Html.ActionLink("Edit", "Edit", new { id = item.ID }) |*@
                        @Html.ActionLink("Details", "RunnerDetails", "CreateRaces", new { id = item.ID }, null) |
                        @*@Html.ActionLink("Delete", "Delete", new { id = item.ID }) |*@
                        @Html.ActionLink("Email Race Director", "Index", "SendEmailWithAttachments", new { id = item.ID }, null)
                        @*@Html.ActionLink("Sign Up", "User", "SignUpForRace", new { id = item.ID })*@
                    </td>
                </tr>
            }

        </table>
